body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #5D3FD3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #5D3FD3;
    font-size: 2em;
    margin-top: 30px;
    padding-left: 10px;
    border-bottom: 2px solid #5D3FD3;
    width: fit-content;
    margin-bottom: 15px;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgb(30, 5, 255);
}



p {
    font-size: 1.1em;
    padding: 15px 20px;
    margin: 20px 0;
    text-align: justify;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

p:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

ul {
    margin: 0 20px;
    padding: 10px;
    list-style-type: none;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

a {
    color: #5D3FD3;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #3a1e97;
}

button {
    padding: 12px 25px;
    font-size: 1.2em;
    background-color: #5D3FD3;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #4b2a99;
    transform: scale(1.05);
}

#contato {
    background-color: #fff;
    padding: 25px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px #5D3FD3;
}

#contato p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.fade {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
        padding: 15px;
    }

    h2 {
        font-size: 1.8em;
    }

    ul li {
        font-size: 1em;
    }

    button {
        font-size: 1em;
        padding: 10px 20px;
    }
}